* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: no-repeat linear-gradient(to bottom, cornflowerblue, cyan);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif, sans-serif;
}

.container {
    background: white;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 25px;
}

.to-do {
    margin-bottom: 25px;
}

.Add {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:8px;
}

.wrapper {
    width: 520px;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 3px;
}

button[type="reset"] {
    display: none;
}

.plus-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.task-list-item {
    width: 100%;
    background: #EDEDED;
    /*height: 35px;*/
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-count {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-count-text {
    width: 80%;
    padding-top: 6px;
}

.clear-button {
    padding: 8px 10px;
    width: 76px;
}

.common-button {
    background: #a371c5;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 2px 14px -5px rgba(34, 60, 80, 0.2);
    color: white;
    font-family: "Montserrat", serif, sans-serif;
}

.task-list-item-text {
    padding: 9px;
}

.clear-task-button {
    width: 40px;
    color: white;
    background: red;
    border: none;
    border-radius: 3px;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

.task-list-item:hover .clear-task-button {
    display: block;
}

.btn-action img {
    pointer-events: none;
}
